# Ruby #
#######
.bundle/
vendor/

# Git worktrees #
#################
.worktrees/

# tmux plugins (installed by TPM) #
####################################
tmux/plugins/

# Dolt database files (added by bd init)
.dolt/
*.db

# oh-my-claudecode
.omc/