[user]
  name = Matthew Boston
  email = matthew.boston@gmail.com
[github]
  user = bostonaholic
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[push]
  default = matching
[alias]
  aa = add --all
  amend = commit --amend
  b = branch
  ci = commit
  co = checkout
  dc = diff --cached
  di = diff
  fa = fetch --all
  h = !git head
  head = !git l -1
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all
  r = !git l -30
  ra = !git r --all
  st = status
  u = !git upstream
  upstream = "!git fetch upstream; git merge upstream/master"
  # git churn returns a list of files with the highest commit references
  churn = "!git --no-pager log --name-only --oneline | grep -v ' ' | sort | uniq -c | sort -nr | head"
  # git churn-ftype .java
  churn-ftype = "!sh -c 'git --no-pager log --name-only --oneline | grep -F $1 | sort | uniq -c | sort -nr | head' -"
