[init]
[user]
	name = Matthew Boston
	email = matthew@matthewboston.com
	signingkey = DF992BF274208062
[github]
	user = bostonaholic
[help]
	autocorrect = 1
[color]
        ui = auto
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[diff]
	renames = true
[fetch]
	prune = true
[pretty]
	custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
	#                     │        │            │            │             └─ author name
	#                     │        │            │            └─ message
	#                     │        │            └─ date (relative)
	#                     │        └─ decorations (branch, heads or tags)
	#                     └─ hash (abbreviated)
[push]
	default = tracking
[pull]
	default = tracking
	rebase = preserve
	tags = true
[rerere]
	enabled = true
[alias]
	aa = add --all
	ap = add --patch

	br = branch
	bra = branch --all

	amend = commit --amend
	cl = clone
	ci = commit --verbose
	co = checkout
	pu = push

	di = diff
	dc = diff --cached
	ds = diff --staged
	dw = diff --word-diff=plain

	ft = fetch --tags
	fa = fetch --all --tags

	upstream = "!git fetch upstream; git merge upstream/master"
	u = !git upstream

	head = !git l -1
	h = !git head
	hp = "!. ~/.githelpers && show_git_head"

	l = "!. ~/.githelpers && pretty_git_log"
	la = !git l --all
	recent = !GIT_NO_PAGER=1 git l -30
	r = !git recent
	ra = !git recent --all

	refresh = !git stash && git checkout master && git pull origin master && git checkout - && git rebase master && git stash pop

	iteration = "!git log --pretty='tformat:%h (%ar) -- %d %s' --since='2 weeks ago' --author=`git config user.email`"
	week      = "!git log --pretty='tformat:%h (%ar) -- %d %s' --since='1 weeks ago' --author=`git config user.email`"

	productivity = "!git log --pretty='%aN' | sort | uniq -c | sort -nr"

	rv = remote --verbose

	st = status --short --branch
[gpg]
	program = /usr/local/bin/gpg
