.cm-tag-follow-up {
  background-color: red;
  color: white;
}

.cm-tag-waiting {
  background-color: yellow;
  color: black;
}

.cm-tag-read-later {
  background-color: green;
  color: white;
}

.cm-tag-next-action {
  background-color: chartreuse;
  color: black;
}

.cm-tag-urgent {
  background-color: blue;
  color: white;
}

.cm-tag-important {
  background-color: purple;
  color: white;
}
