name: 'Run Shellcheck'

on: [push]

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run ShellCheck
      run: |
        find . -path ./zsh -prune -o -path ./.git -prune -o \
          -type f \( -name '*.sh' -o -name '*.bash' \) -print0 \
          | xargs -0 -r shellcheck -x --source-path=scripts --format=gcc

        find . -path ./zsh -prune -o -path ./.git -prune -o \
          -type f ! -name '*.*' -perm /111 -print0 \
          | while IFS= read -r -d '' file; do
              head -n1 "$file" | grep -Eqs '^#! */[^ ]*/(env *)?[abk]*sh' && echo "$file"
            done \
          | xargs -r shellcheck -x --source-path=scripts --format=gcc
